@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
  --primary-color: #020228;
  --secondary-color: #ff00e5;
  --tertiary-color: #b535f6;
  --btn-bg-color-gradient: linear-gradient(
    45deg,
    #9b34ef 0%,
    #490cb0 20%,
    transparent 50%
  );
  --btn-link-bg-color: #fff;
  --btn-link-color: #000;
  --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
  --divider-bg-color: linear-gradient(
    90deg,
    #5516ba,
    rgba(255, 0, 229, 0.5) 80%
  );
  --nav-bg-color: rgba(0, 0, 0, 0.3);
  --text-color: #fff;
  --link-color: #9e86ff;
  --form-bg-color: rgba(211, 211, 211, 0.06);
  --form-field-bg-color: rgba(0, 0, 0, 0.2);
  --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
  --form-field-placeholder: rgba(255, 255, 255, 0.7);
  --form-field-error: rgb(255, 76, 76);

  scroll-behavior: smooth;
}
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

p{
  font-family: "Quicksand", sans-serif;
}

section{
  scroll-margin-top:80px ;
}

.text-small{
  font-size: 1rem;
  font-weight: 300;
}

.button{
  background-color: var(--tertiary-color);
  border-radius: 500px;
  padding: 16px 40px;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing: 4px;
  text-decoration: none;
}

.button.button-gradient{
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

/* navbar */

.menu {
  background-color: var(--nav-bg-color);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg-color);
  top: 0;
  position: fixed;
  width: 100%;
  /* z-index: 1; */
}

.menu-logo {
  max-width: 160px;
}

.menu-logo-image{
  width: 100%;
}

.menu-item{
  margin-right: 24px;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.menu-item-button{
  padding: 8px 26px;
  transition: background 1s, color 1s;
}

.menu-item-button:hover{
  background-color: var(--btn-link-bg-color);
  color: var(--btn-link-color);
}

/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}

/* footer */

.footer-link{
font-family: 'Raleway', sans-serif;
font-weight: bold;
color: var(--link-color);
text-transform: uppercase;
text-decoration: none;
margin: 0 14px;
letter-spacing: 2px;
font-size: 0.875rem;
transition: color 0.5s;
}

.footer-link:hover{
color: var(--text-color);
}

.footer-legal{
  font-size: 0.75rem;
  color: var(--link-color);
  margin: 0 16px;
}

.footer-social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
  gap: 40px;
}