@import url("./global.css");

body {
    background-image: url("../images/background-movies-series.png");
    background-size: cover;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-family: "Quicksand", 'cursive', sans-serif;
    width: 100%;
    padding: 24px;
}

.menu {
    position: relative;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    border-radius: 8px;
    background-color: var(--form-field-bg-color);
    max-width: 800px;
    padding: 40px;
    gap: 24px;
    /* height: 100%; */
}
.login-title {
    font-size: 1.5rem;
    margin-bottom: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login-label{
    text-align: left;
}

.login-field {
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: 8px;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
}

.login-field::placeholder{
    color: var(--form-field-placeholder);
}

/* verificação de validade */
.login-field:invalid {
    border-color: var(--form-field-error);
}

.login-actions {
    margin-top: 24px;
    text-align: left;
}

/* .button.button-gradient {
    background-color: transparent;
    border: var(--text-color) 2px solid;
}
.button.button-gradient:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
} */
.login-links {
  color: var(--link-color);
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
}